.card {
    height: 100vh !important;
}
#today {
    height: calc(100vh - 38px - 120px);
}
#today i {
    font-size: 8em;
}
#future {
    height: 120px;
    text-align: center;
}
#future i {
    font-size: 3em;
}
#future .dt {
    margin-top: 10px;
    margin-bottom: 10px;
}